### Import Library

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

### load Enrolment data

In [29]:
enrolment1 = pd.read_csv("api_data_aadhar_enrolment/api_data_aadhar_enrolment/api_data_aadhar_enrolment_0_500000.csv")
enrolment2 = pd.read_csv("api_data_aadhar_enrolment/api_data_aadhar_enrolment/api_data_aadhar_enrolment_500000_1000000.csv")
enrolment3 = pd.read_csv("api_data_aadhar_enrolment/api_data_aadhar_enrolment/api_data_aadhar_enrolment_1000000_1006029.csv")

## Enrolment 1 Dataset

In [30]:
enrolment1.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21

In [31]:
enrolment1.shape

(500000, 7)

In [32]:
enrolment1.isnull().sum()

date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
dtype: int64

In [33]:
state_list = list(enrolment1['state'].unique())

In [34]:
len(state_list)

54

In [35]:
enrolment1["new_date"] = pd.to_datetime(enrolment1['date'], dayfirst=True).dt.strftime("%Y%m%d")

In [36]:
enrolment1.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,new_date
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37,20250302
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39,20250309
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12,20250309
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15,20250309
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21,20250309

In [37]:
enrolment1["new_date"].min() #strat date

'20250302'

In [38]:
enrolment1["new_date"].max() #End date

'20251026'

In [39]:
enrolment1['state'].unique()

array(['Meghalaya', 'Karnataka', 'Uttar Pradesh', 'Bihar', 'Maharashtra',
       'Haryana', 'Rajasthan', 'Punjab', 'Delhi', 'Madhya Pradesh',
       'West Bengal', 'Assam', 'Uttarakhand', 'Gujarat', 'Andhra Pradesh',
       'Tamil Nadu', 'Chhattisgarh', 'Jharkhand', 'Nagaland', 'Manipur',
       'Telangana', 'Tripura', 'Mizoram', 'Jammu and Kashmir',
       'Chandigarh', 'Sikkim', 'Odisha', 'Kerala',
       'The Dadra And Nagar Haveli And Daman And Diu',
       'Arunachal Pradesh', 'Himachal Pradesh', 'Goa',
       'Jammu And Kashmir', 'Dadra and Nagar Haveli and Daman and Diu',
       'Ladakh', 'Andaman and Nicobar Islands', 'Orissa', 'Pondicherry',
       'Puducherry', 'Lakshadweep', 'Andaman & Nicobar Islands',
       'Dadra & Nagar Haveli', 'Dadra and Nagar Haveli', 'Daman and Diu',
       'WEST BENGAL', 'Jammu & Kashmir', 'West  Bengal', '100000',
       'Daman & Diu', 'West Bangal', 'Westbengal', 'West bengal',
       'andhra pradesh', 'ODISHA'], dtype=object)

### Enrolment 2

In [40]:
enrolment2.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,26-10-2025,Andhra Pradesh,Nalgonda,508004,0,1,0
1,26-10-2025,Andhra Pradesh,Nalgonda,508238,1,0,0
2,26-10-2025,Andhra Pradesh,Nalgonda,508278,1,0,0
3,26-10-2025,Andhra Pradesh,Nandyal,518432,0,1,0
4,26-10-2025,Andhra Pradesh,Nandyal,518543,1,0,0

In [41]:
enrolment2.shape

(500000, 7)

In [42]:
enrolment2["new_date"] = pd.to_datetime(enrolment2['date'], dayfirst=True).dt.strftime("%Y%m%d")

In [43]:
enrolment2.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,new_date
0,26-10-2025,Andhra Pradesh,Nalgonda,508004,0,1,0,20251026
1,26-10-2025,Andhra Pradesh,Nalgonda,508238,1,0,0,20251026
2,26-10-2025,Andhra Pradesh,Nalgonda,508278,1,0,0,20251026
3,26-10-2025,Andhra Pradesh,Nandyal,518432,0,1,0,20251026
4,26-10-2025,Andhra Pradesh,Nandyal,518543,1,0,0,20251026

In [45]:
enrolment2.new_date.max() #start date

'20251231'

In [46]:
enrolment2.new_date.max() #End date

'20251231'

In [47]:
enrolment2.isnull().sum()

date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
new_date          0
dtype: int64

In [48]:
enrolment2['state'].unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'West Bengal',
       'Chhattisgarh', 'Delhi', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Ladakh', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Orissa',
       'Pondicherry', 'Puducherry', 'Punjab', 'Rajasthan', 'Tamil Nadu',
       'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand',
       'Andaman & Nicobar Islands', 'Andaman and Nicobar Islands',
       'Bihar', 'Chandigarh', 'Sikkim', 'West Bangal',
       'Dadra and Nagar Haveli', 'Daman and Diu',
       'Dadra and Nagar Haveli and Daman and Diu', 'Jammu & Kashmir',
       'andhra pradesh', 'Dadra & Nagar Haveli', 'Westbengal',
       'Daman & Diu', 'WESTBENGAL', 'West bengal', 'West  Bengal',
       'WEST BENGAL', '100000'], dtype=object)

### Enrolment 3

In [49]:
enrolment3.head()

         date      state district  pincode  age_0_5  age_5_17  age_18_greater
0  31-12-2025  Karnataka    Bidar   585330        2         3               0
1  31-12-2025  Karnataka    Bidar   585402        6         0               0
2  31-12-2025  Karnataka    Bidar   585413        1         0               0
3  31-12-2025  Karnataka    Bidar   585418        1         2               0
4  31-12-2025  Karnataka    Bidar   585421        4         3               0

In [50]:
enrolment3.shape

(6029, 7)

In [51]:
enrolment3["new_date"] = pd.to_datetime(enrolment3.date, dayfirst=True).dt.strftime("%Y%m%d")

In [52]:
enrolment3.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,new_date
0,31-12-2025,Karnataka,Bidar,585330,2,3,0,20251231
1,31-12-2025,Karnataka,Bidar,585402,6,0,0,20251231
2,31-12-2025,Karnataka,Bidar,585413,1,0,0,20251231
3,31-12-2025,Karnataka,Bidar,585418,1,2,0,20251231
4,31-12-2025,Karnataka,Bidar,585421,4,3,0,20251231

In [53]:
enrolment3["new_date"].min()

'20251231'

In [54]:
enrolment3["new_date"].max()

'20251231'

In [55]:
enrolment3.isnull().sum()

date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
new_date          0
dtype: int64

In [56]:
enrolment3.state.unique()

array(['Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Madhya Pradesh',
       'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland',
       'Odisha', 'Orissa', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim',
       'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Daman and Diu', 'Delhi', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand',
       'Pondicherry'], dtype=object)

### Main Dataset create

### marge three dataset in one dataframe

In [57]:
df = pd.concat([enrolment1, enrolment2, enrolment3], axis=0, ignore_index=True)

In [58]:
df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,new_date
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37,20250302
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39,20250309
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12,20250309
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15,20250309
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21,20250309

In [60]:
df.shape # total records in this dataset

(1006029, 8)

### enrolment start date

In [61]:
df['new_date'].min()

'20250302'

### enrolment end date

In [62]:
df['new_date'].max()

'20251231'

In [40]:
df['state'].unique()

array(['Meghalaya', 'Karnataka', 'Uttar Pradesh', 'Bihar', 'Maharashtra',
       'Haryana', 'Rajasthan', 'Punjab', 'Delhi', 'Madhya Pradesh',
       'West Bengal', 'Assam', 'Uttarakhand', 'Gujarat', 'Andhra Pradesh',
       'Tamil Nadu', 'Chhattisgarh', 'Jharkhand', 'Nagaland', 'Manipur',
       'Telangana', 'Tripura', 'Mizoram', 'Jammu and Kashmir',
       'Chandigarh', 'Sikkim', 'Odisha', 'Kerala',
       'The Dadra And Nagar Haveli And Daman And Diu',
       'Arunachal Pradesh', 'Himachal Pradesh', 'Goa',
       'Jammu And Kashmir', 'Dadra and Nagar Haveli and Daman and Diu',
       'Ladakh', 'Andaman and Nicobar Islands', 'Orissa', 'Pondicherry',
       'Puducherry', 'Lakshadweep', 'Andaman & Nicobar Islands',
       'Dadra & Nagar Haveli', 'Dadra and Nagar Haveli', 'Daman and Diu',
       'WEST BENGAL', 'Jammu & Kashmir', 'West  Bengal', '100000',
       'Daman & Diu', 'West Bangal', 'Westbengal', 'West bengal',
       'andhra pradesh', 'ODISHA', 'WESTBENGAL'], dtype=object)

In [63]:
df['state'].nunique()

55

In [90]:
df = df[df['state'] != '100000']

In [64]:
import pandas as pd
import string

# Get unique states
unique_states = df['state'].unique()

# Loop through letters A to Z
for letter in string.ascii_uppercase:
    # Find states that start with this letter (case-insensitive)
    matches = [state for state in unique_states if str(state).lower().startswith(letter.lower())]
    
    # Only print if we found matches for this letter
    if matches:
        print(f"--- {letter} ---")
        for state in matches:
            print(state)
        print() # New line

--- A ---
Assam
Andhra Pradesh
Arunachal Pradesh
Andaman and Nicobar Islands
Andaman & Nicobar Islands
andhra pradesh

--- B ---
Bihar

--- C ---
Chhattisgarh
Chandigarh

--- D ---
Delhi
Dadra and Nagar Haveli and Daman and Diu
Dadra & Nagar Haveli
Dadra and Nagar Haveli
Daman and Diu
Daman & Diu

--- G ---
Gujarat
Goa

--- H ---
Haryana
Himachal Pradesh

--- J ---
Jharkhand
Jammu and Kashmir
Jammu And Kashmir
Jammu & Kashmir

--- K ---
Karnataka
Kerala

--- L ---
Ladakh
Lakshadweep

--- M ---
Meghalaya
Maharashtra
Madhya Pradesh
Manipur
Mizoram

--- N ---
Nagaland

--- O ---
Odisha
Orissa
ODISHA

--- P ---
Punjab
Pondicherry
Puducherry

--- R ---
Rajasthan

--- S ---
Sikkim

--- T ---
Tamil Nadu
Telangana
Tripura
The Dadra And Nagar Haveli And Daman And Diu

--- U ---
Uttar Pradesh
Uttarakhand

--- W ---
West Bengal
WEST BENGAL
West  Bengal
West Bangal
Westbengal
West bengal
WESTBENGAL

### Clean State Dataset

In [65]:
# state maping

state_maping = {
    "andhra pradesh":"Andhra Pradesh",
    
    "Andaman & Nicobar Islands":"Andaman and Nicobar Islands",
    "Andaman and Nicobar Islands": "Andaman and Nicobar Islands",
    
    "meghalaya":"Meghalaya",
    
    "WEST BENGAL":"West Bengal",
    "West bengal":"West Bengal",
    "WETSBENGAL": "West Bengal",
    "West Bengal":"West Bengal",
    "West Bangal": "West Bengal",
    "Westbengal" : "West Bengal",
    "WESTBENGAL":"West Bengal",
    "West  Bengal":"West Bengal",
    
    
    "Odisha": "Odisha",
    "ODISHA":"Odisha",
    "Orissa":"Odisha",
    
    "Dadra and Nagar Haveli and Daman and Diu":"Dadra and Nagar Haveli and Daman and Diu",
    "Dadra & Nagar Haveli":"Dadra and Nagar Haveli and Daman and Diu",
    "Dadra and Nagar Haveli":"Dadra and Nagar Haveli and Daman and Diu",
    "Daman and Diu":"Dadra and Nagar Haveli and Daman and Diu",
    "Daman & Diu": "Dadra and Nagar Haveli and Daman and Diu",
    "The Dadra And Nagar Haveli And Daman And Diu": "Dadra and Nagar Haveli and Daman and Diu",
    
    "Jammu and Kashmir":"Jammu and Kashmir",
    "Jammu And Kashmir":"Jammu and Kashmir",
    "Jammu & Kashmir":"Jammu and Kashmir",

    "Puducherry":"Pundicherry",
    "Pondicherry": "Pundicherry",
    
}

In [66]:
df["clean_state"] = df['state'].replace(state_maping)

In [67]:
df.tail()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,new_date,clean_state
1006024,31-12-2025,West Bengal,West Midnapore,721149,2,0,0,20251231,West Bengal
1006025,31-12-2025,West Bengal,West Midnapore,721150,2,2,0,20251231,West Bengal
1006026,31-12-2025,West Bengal,West Midnapore,721305,0,1,0,20251231,West Bengal
1006027,31-12-2025,West Bengal,West Midnapore,721504,1,0,0,20251231,West Bengal
1006028,31-12-2025,West Bengal,West Midnapore,721517,2,1,0,20251231,West Bengal

In [89]:
df["clean_state"].unique()

array(['Meghalaya', 'Karnataka', 'Uttar Pradesh', 'Bihar', 'Maharashtra',
       'Haryana', 'Rajasthan', 'Punjab', 'Delhi', 'Madhya Pradesh',
       'West Bengal', 'Assam', 'Uttarakhand', 'Gujarat', 'Andhra Pradesh',
       'Tamil Nadu', 'Chhattisgarh', 'Jharkhand', 'Nagaland', 'Manipur',
       'Telangana', 'Tripura', 'Mizoram', 'Jammu and Kashmir',
       'Chandigarh', 'Sikkim', 'Odisha', 'Kerala',
       'Dadra and Nagar Haveli and Daman and Diu', 'Arunachal Pradesh',
       'Himachal Pradesh', 'Goa', 'Ladakh', 'Andaman and Nicobar Islands',
       'Pundicherry', 'Lakshadweep', '100000'], dtype=object)

### Clean state Data

In [70]:
import pandas as pd
import string

# Get unique states
unique_states = df['clean_state'].unique()

# Loop through letters A to Z
for letter in string.ascii_uppercase:
    # Find states that start with this letter (case-insensitive)
    matches = [state for state in unique_states if str(state).lower().startswith(letter.lower())]
    
    # Only print if we found matches for this letter
    if matches:
        print(f"--- {letter} ---")
        for state in matches:
            print(state)
        print() # New line

--- A ---
Assam
Andhra Pradesh
Arunachal Pradesh
Andaman and Nicobar Islands

--- B ---
Bihar

--- C ---
Chhattisgarh
Chandigarh

--- D ---
Delhi
Dadra and Nagar Haveli and Daman and Diu

--- G ---
Gujarat
Goa

--- H ---
Haryana
Himachal Pradesh

--- J ---
Jharkhand
Jammu and Kashmir

--- K ---
Karnataka
Kerala

--- L ---
Ladakh
Lakshadweep

--- M ---
Meghalaya
Maharashtra
Madhya Pradesh
Manipur
Mizoram

--- N ---
Nagaland

--- O ---
Odisha

--- P ---
Punjab
Pundicherry

--- R ---
Rajasthan

--- S ---
Sikkim

--- T ---
Tamil Nadu
Telangana
Tripura

--- U ---
Uttar Pradesh
Uttarakhand

--- W ---
West Bengal

## check district

In [71]:
bihar_state = df[df['clean_state'] == 'Bihar'].copy()

In [72]:
bihar_state['district'].nunique()  #number of district in bihar 38

48

In [78]:
bihar_state["district"].unique()

array(['Sitamarhi', 'Purbi Champaran', 'Madhubani', 'Bhagalpur', 'Patna',
       'Pashchim Champaran', 'Muzaffarpur', 'Munger', 'Gaya',
       'Kaimur (Bhabua)', 'West Champaran', 'Purnia', 'Saran',
       'East Champaran', 'Vaishali', 'Jehanabad', 'Jamui', 'Gopalganj',
       'Saharsa', 'Arwal', 'Katihar', 'Siwan', 'Lakhisarai', 'Banka',
       'Nalanda', 'Araria', 'Darbhanga', 'Nawada', 'Samastipur',
       'Begusarai', 'Bhojpur', 'Aurangabad', 'Buxar', 'Khagaria',
       'Kishanganj', 'Madhepura', 'Rohtas', 'Sheohar', 'Supaul',
       'Aurangabad(bh)', 'Purba Champaran', 'Purnea', 'Sheikhpura',
       'Sheikpura', 'Bhabua', 'Monghyr', 'Samstipur', 'Aurangabad(BH)'],
      dtype=object)

In [73]:
import pandas as pd
import string

# Get unique states
unique_district = bihar_state['district'].unique()

# Loop through letters A to Z
for letter in string.ascii_uppercase:
    # Find states that start with this letter (case-insensitive)
    matches = [state for state in unique_district if str(state).lower().startswith(letter.lower())]
    
    # Only print if we found matches for this letter
    if matches:
        print(f"--- {letter} ---")
        for state in matches:
            print(state)
        print() # New line

--- A ---
Arwal
Araria
Aurangabad
Aurangabad(bh)
Aurangabad(BH)

--- B ---
Bhagalpur
Banka
Begusarai
Bhojpur
Buxar
Bhabua

--- D ---
Darbhanga

--- E ---
East Champaran

--- G ---
Gaya
Gopalganj

--- J ---
Jehanabad
Jamui

--- K ---
Kaimur (Bhabua)
Katihar
Khagaria
Kishanganj

--- L ---
Lakhisarai

--- M ---
Madhubani
Muzaffarpur
Munger
Madhepura
Monghyr

--- N ---
Nalanda
Nawada

--- P ---
Purbi Champaran
Patna
Pashchim Champaran
Purnia
Purba Champaran
Purnea

--- R ---
Rohtas

--- S ---
Sitamarhi
Saran
Saharsa
Siwan
Samastipur
Sheohar
Supaul
Sheikhpura
Sheikpura
Samstipur

--- V ---
Vaishali

--- W ---
West Champaran

In [51]:
## remove space and symbol
import re
import pandas as pd

def clean_name(x):
    # 1. Check if the value is missing (NaN)
    if pd.isna(x):
        return x
    
    # 2. Convert to string and make it lowercase
    x = str(x).lower()
    
    # 3. Remove symbols: replace anything that is NOT a letter (a-z) 
    # or a space (\s) with a single space
    x = re.sub(r'[^a-z\s]', ' ', x)  # removes (), ., &, etc.
    
    # 4. Remove extra spaces: replace multiple spaces with one 
    # and remove leading/trailing spaces
    x = re.sub(r'\s+', ' ', x).strip()
    
    return x

### Clean Bihar District

In [95]:
# Yeh dictionary "Galat/Duplicate Naam" ko "Sahi Naam" se map karegi
bihar_district_mapping = {
 # --- Champaran (Hindi/Variations -> English) ---
    'Purbi Champaran': 'East Champaran',
    'Purba Champaran': 'East Champaran',
    'Pashchim Champaran': 'West Champaran',
    
    # --- Aurangabad (Removing 'BH' codes) ---
    'Aurangabad(bh)': 'Aurangabad',
    'Aurangabad(BH)': 'Aurangabad',
    
    # --- Spelling Corrections (Typos) ---
    'Samstipur': 'Samastipur',   # Missing 'a'
    'Sheikpura': 'Sheikhpura',   # Missing 'h'
    'Purnea': 'Purnia',          # Alternative spelling
    
    # --- Old Names ---
    'Monghyr': 'Munger',         # British era name
    
    # --- Kaimur / Bhabua Standardization ---
    'Bhabua': 'Kaimur (Bhabua)', # Maps HQ name to District name
    
    # --- Capitalization Fixes ---
    'kishanganj': 'Kishanganj'
    

}

In [96]:
bihar_state["clean_district"] = bihar_state["district"].replace(bihar_district_mapping)

In [97]:
bihar_state["clean_district"].unique()

array(['Sitamarhi', 'East Champaran', 'Madhubani', 'Bhagalpur', 'Patna',
       'West Champaran', 'Muzaffarpur', 'Munger', 'Gaya',
       'Kaimur (Bhabua)', 'Purnia', 'Saran', 'Vaishali', 'Jehanabad',
       'Jamui', 'Gopalganj', 'Saharsa', 'Arwal', 'Katihar', 'Siwan',
       'Lakhisarai', 'Banka', 'Nalanda', 'Araria', 'Darbhanga', 'Nawada',
       'Samastipur', 'Begusarai', 'Bhojpur', 'Aurangabad', 'Buxar',
       'Khagaria', 'Kishanganj', 'Madhepura', 'Rohtas', 'Sheohar',
       'Supaul', 'Sheikhpura'], dtype=object)

In [98]:
bihar_state["clean_district"].nunique()

38

In [99]:
import pandas as pd
import string

# Get unique states
unique_district = bihar_state['clean_district'].unique()

# Loop through letters A to Z
for letter in string.ascii_uppercase:
    # Find states that start with this letter (case-insensitive)
    matches = [state for state in unique_district if str(state).lower().startswith(letter.lower())]
    
    # Only print if we found matches for this letter
    if matches:
        print(f"--- {letter} ---")
        for state in matches:
            print(state)
        print() # New line

--- A ---
Arwal
Araria
Aurangabad

--- B ---
Bhagalpur
Banka
Begusarai
Bhojpur
Buxar

--- D ---
Darbhanga

--- E ---
East Champaran

--- G ---
Gaya
Gopalganj

--- J ---
Jehanabad
Jamui

--- K ---
Kaimur (Bhabua)
Katihar
Khagaria
Kishanganj

--- L ---
Lakhisarai

--- M ---
Madhubani
Muzaffarpur
Munger
Madhepura

--- N ---
Nalanda
Nawada

--- P ---
Patna
Purnia

--- R ---
Rohtas

--- S ---
Sitamarhi
Saran
Saharsa
Siwan
Samastipur
Sheohar
Supaul
Sheikhpura

--- V ---
Vaishali

--- W ---
West Champaran